---
---

@charset "UTF-8";

// use google fonts
// multiple fonts can be loaded with font+1|font+2
//@import url('https://fonts.googleapis.com/css?family=PT+Sans');

// width of the sidebar in desktop view
$sidebar-width-full: 200px;

// point at which to switch between desktop and tablet
$breakpoint: 800px;

// height of nav bar in tablet mode
$sidebar-height-collapsed: 50px;


/*
  global
*/
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  text-decoration: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


/*
  columns
*/
nav {
  height: 100%;
  width: $sidebar-width-full;
  position: fixed;
  font-size: 14pt;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #202020;
  color: white;
  overflow-x: hidden;
  padding: 25px 20px 0px 20px;
  text-align: right;
  a, a:hover {
    color: white;
  }
  hr {
    // This whole block is needed just to change hr color =(
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #555555;
    margin: 1em 0;
    padding: 0; 
  }
  .blinking-cursor {
    animation: blinker 1s linear infinite;
  }
  ul {
    list-style: none;
  }
}

.rightcolumn {
  margin-left: $sidebar-width-full;
  padding: 0px 20px;
  #posts td {
    white-space: nowrap;
    padding: 8px 0px 8px 0px;
  }
  p {
    cursor: default;
  }
  a {
    color: #227ce8;
  }
  pre {
    box-shadow: 2px 2px 2px #b5b5b5;
  }
}


/*
  mobile/tablet css overload
*/
@media screen and (max-width: $breakpoint) {
  // make theme responsive by making the columns into a stack
  nav, .rightcolumn {
    width: 100%;
  }
  .rightcolumn {
    margin-top: $sidebar-height-collapsed;
    margin-left: 0;
    padding: 1px 5px 2px 5px;
    // make posts table easier to click by making padding and font-size larger
    #posts td {
      padding: 14px 4px 14px 4px;
      font-size: 1.2em;
    }
    #posts td:last-child {
      display: none;
    }
  }
  nav {
    padding: 6px 10px 0px 10px;
    height: $sidebar-height-collapsed;
    text-align: left;
    div.burger {
      float: right;
      display: inline-block;
      cursor: pointer;
      .bar1, .bar2, .bar3 {
          width: 35px;
          height: 5px;
          background-color: #e0e0e0;
          margin: 6px 0;
          transition: 0.4s;
      }
    }
    hr, ul {
      display: none;
    }
  }
  nav.change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    .bar2 {opacity: 0;}
    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
    ul, hr {
      display: block;
    }
    height: auto;
    li {
      margin-bottom: 14px;
    }
  }
}