---
---

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$sidebar-width-full: 200px;
$sidebar-height-collapsed: 50px;
$breakpoint: 800px;

* {
  box-sizing: border-box;
}

p {
  cursor: default;
}

body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.leftcolumn {
  height: 100%;
  width: $sidebar-width-full;
  position: fixed;
  font-size: 14pt;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #202020;
  color: white;
  overflow-x: hidden;
  padding: 25px 20px 0px 20px;
  text-align: right;
  a {
    color: white;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #555555;
    margin: 1em 0;
    padding: 0; 
  }
}

.rightcolumn {
  margin-left: $sidebar-width-full;
  padding: 0px 40px;
}

a {
  color: #227ce8;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.blinking-cursor {
  animation: blinker 1s linear infinite;
}

#posts td {
  white-space: nowrap;
  padding: 8px 0px 8px 0px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: $breakpoint) {
  .leftcolumn, .rightcolumn {
    width: 100%;
  }
  .rightcolumn {
    margin-top: $sidebar-height-collapsed;
    margin-left: 0;
    padding: 1px 5px 2px 5px;
    #posts td {
      padding: 14px 4px 14px 4px;
      font-size: 1.2em;
    }
  }
  .leftcolumn {
    padding: 12px 20px 0px 20px;
    height: $sidebar-height-collapsed;
    text-align: left;
    font-size: 18px;
    ul {
      float: right;
      li {
        display: inline;
        a {
          margin-left: 5px;
        }
      }
    }
    hr {
      display: none;
    }
  }
  #posts td:last-child {
    display: none;
  }
}