---
#
---

@charset "UTF-8";
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Helvetica;
  min-width: 360px;
  background-color: #e1e1e1;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #227ce8;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 150px;
  padding: 0;
  text-align: right;
}

/* Right column */
.rightcolumn {
  float: left;
  padding-left: 20px;
  width: 640px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 10px 10px 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
    max-width: inherit;
  }
  /* make left col full width and look correct */
  .card {
    width: inherit;
    float: inherit;
  }
}