---
layout: layout
title: "Projects"
---
<table class="table">
    {% assign repos = site.github.public_repositories | sort: 'stargazers_count' | reverse %}
    {% for repo in repos %}
    {% if repo.stargazers_count > 0 %}
    <tr>
        <td style="white-space: nowrap;">
            <a href="{{ repo.html_url }}" target="_blank">
                {{ repo.name }}
            </a>
        </td>
        <td>
            {{ repo.description }}
        </td>
        <td style="white-space: nowrap;">
            :star:
            {{ repo.stargazers_count }}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>