<a href="/">
    <span style="color: green; font-weight: bold; font-family: monospace;">&gt;</span>
    <span>{{ site.github }}</span><span class="blinking-cursor">|</span>
</a>

<hr>

<!--
<p>
    And I looked, and behold a pale horse: <br>
    and his name that sat on him was Death, <br>
    and Hell followed with him. <br>
</p>
-->

<ul>
    <li><a href="/">posts</a></li>
    <li><a href="/projects">projects</a></li>
    <li><a href="https://github.com/mmeyer2k/" target="_blank">github</a></li>
    <li><a href="/atom.xml" target="_blank">rss</a></li>
    <li><a href="/about">about</a></li>
</ul>

<hr>

<div>
    <small>
        ⚡❤️litecoin @ me
    </small>
    <a href="/litecoin-address.txt" target="_blank">
        <img src="/images/litecoin-wallet.png" class="img-responsive">
    </a>
</div>