<a href="/">
    <span style="color: green; font-weight: bold;">&gt;</span>
    <span>mmeyer2k</span><span class="blinking-cursor">|</span>
</a>

<!--
<p>
    And I looked, and behold a pale horse: <br>
    and his name that sat on him was Death, <br>
    and Hell followed with him. <br>
</p>
-->

<ul>
    <li><a href="/">posts</a></li>
    <li><a href="/about">projects</a></li>
    <li><a href="https://github.com/mmeyer2k/" target="_blank">github</a></li>
    <li><a href="/atom.xml" target="_blank">rss</a></li>
    <li><a href="/about">about</a></li>
</ul>