<!DOCTYPE html>
<html>
    <!--


                       .ed"""" """$$$$be.
                     -"           ^""**$$$e.
                    ."                   '$$$c
                  /                      "4$$b
                d  3                      $$$$
                $  *                   .$$$$$$
                .$  ^c           $$$$$e$$$$$$$$.
                d$L  4.         4$$$$$$$$$$$$$$b
                $$$$b ^ceeeee.  4$$ECL.F*$$$$$$$
    e$""=.      $$$$P d$$$$F $ $$$$$$$$$- $$$$$$
    z$$b. ^c     3$$$F "$$$$b   $"$$$$$$$  $$$$*"      .=""$c
    4$$$$L        $$P"  "$$b   .$ $$$$$...e$$        .=  e$$$.
    ^*$$$$$c  %..   *c    ..    $$ 3$$$$$$$$$$eF     zP  d$$$$$
    "**$$$ec   "   %ce""    $$$  $$$$$$$$$$*    .r" =$$$$P""
            "*$b.  "c  *$e.    *** d$$$$$"L$$    .d"  e$$***"
            ^*$$c ^$c $$$      4J$$$$$% $$$ .e*".eeP"
                "$$$$$$"'$=e....$*$$**$cz$$" "..d$*"
                "*$$$  *=%4.$ L L$ P3$$$F $$$P"
                    "$   "%*ebJLzb$e$$$$$b $P"
                        %..      4$$$$$$$$$$ "
                        $$$e   z$$$$$$$$$$%
                        "*$c  "$$$$$$$P"
                        ."""*$$$$$$$$bc
                        .-"    .$***$$$"""*e.
                    .-"    .e$"     "*$c  ^*b.
            .=*""""    .e$*"          "*bc  "*$e..
            .$"        .z*"               ^*$e.   "*****e.
            $$ee$c   .d"                     "*$.        3.
            ^*$E")$..$"                         *   .ee==d%
            $.d$$$*                           *  J$$$e*
                """""                              "$$$"


                And I looked, and behold a pale horse:
                and his name that sat on him was Death,
                and Hell followed with him.

    -->
    {% include head.html %}
    <body>
        <div class="leftcolumn">
            {% include sidebar.html %}
        </div>

        <div class="rightcolumn">
            {{ content }}
        </div>
    </body>
</html>
