<!DOCTYPE html>
<html>
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    {% include head.html %}
    <body>

        <div id="landing-strip">
            <div class="row">
                <div class="leftcolumn">
                    {% include sidebar.html %}
                </div>

                <div class="rightcolumn">
                    {{ content }}
                </div>
            </div>
        </div>

        <!--
        <div class="footer">
            <h2>Footer</h2>
        </div>
        -->
    </body>
</html>
