<!DOCTYPE html>
<html>
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    <!-- ✠✠✠✠ -->
    {% include head.html %}
    <body>

        <div style="max-width: 800px;margin-left: auto; margin-right: auto;">
            <div class="row">
                <div class="leftcolumn">
                    {% include sidebar.html %}
                </div>

                <div class="rightcolumn">
                    {{ content }}
                </div>
            </div>
        </div>

        <!--
        <div class="footer">
            <h2>Footer</h2>
        </div>
        -->
    </body>
</html>
